html
body
  height: 100%

html
  color $aq-grey
  a
    color $aq-grey
    text-decoration underline
    &:hover
      text-decoration none

.container
  height: 100%
  margin: 0 auto
  padding: 20px
  max-width: 1200px

.box {
  float: left;
}
