html
body
  height: 100%

html
  background-color $aq-yellow
  color $aq-grey
  a
    color $aq-grey
    text-decoration underline
    &:hover
      text-decoration none

.container
  height: 100%
  padding: 20px

.box {
  float: left;
}
